body{
    margin:0;
    font: oblique bold 17px georgia;
}
.navtab {
    overflow:hidden;
    background:#333;
}

.navtab a {
   float:left;
   color:white;
   text-decoration: none;
   text-align: center;
   padding: 20px 30px;
   margin:0;
   font:inherit;
}
.navtab .subnav {
    float:left;
    overflow: hidden;
    
}
.navtab .subnav button {
    border:none;
    outline:none;
    background:inherit;
    padding: 20px 30px;
    font:inherit;
    color:white;
    position:relative;
}
.navtab a:hover, .navtab .subnav:hover {
    background: #04AA60;
}
.subnav .subnavContent {
    display:none;
    float:none;
    position:absolute;
    background: #333;
    z-index: 1;
}
.subnav .subnavContent a {
    float:none;
    display:block;
    text-align:left;
    padding: 20px 50px;
} 
.subnav:hover .subnavContent {
    display:block;
}





/* for mega menu bar */


.navtab1 {
    overflow:hidden;
    background:#333;
}
.navtab1 a {
    float:left;
    color:white;
    text-decoration: none;
    text-align: center;
    padding: 20px 30px;
    margin:0;
    font:inherit;
 }
 .navtab1 .subnav button {
    border:none;
    outline:none;
    background:inherit;
    padding: 20px 30px;
    font:inherit;
    color:white;
}
.navtab1 a:hover, .navtab1 button:hover {
    background: #04AA60;
}

.dropContent {
    float:none;
    display:none;
    overflow:hidden;
}

.header {
    background: aquamarine;
    padding: 10px 0;
    font: italic small-caps bolder 20px serif;
}
.row h2 {
    text-align: center;
    color:aqua;
}
.column {
    float:left;
    width:33%;
    height: 450px;

}
.column::after{
    content:"";
    display:table;
    clear:both;
}
.row .border {
    border-right: 2px solid red;
}
.column a {
    float:none;
    display:block;
}
@media screen and (max-width:600px) {
    .column {
       float:none;
       width:100%;
    } 
    .border {
        border-bottom: 2px solid red;
    }
}
.subnav:hover .dropContent {
   display:block;
}