@import url("https://fonts.googleapis.com/css?family=Audiowide&effect=neon|outline|emboss|shadow-multiple");

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html,body{
    margin:0;
    padding:0;
    font-family: Audiowide;
    display:flex;
    align-items:center;
    justify-content: center;
    background: rebeccapurple;
    min-height: 100vh;
    color:#eee;
}
.alert{
    position: fixed;
    top:0;
    left:10%;
    width:100%;
    z-index: 1;
    transition: all 0.5s ease;
    opacity:0.8;
}
.alertText{
position: relative;
width:80%;
height:60px;
margin-top:10px;
padding: 20px;
}
.alertText span {
    position:absolute;
    top:50%;
    right:25px;
    transform: translate(0,-50%);
    font-size: 30px;
    font-weight: lighter;
}
.alertText span:hover {
    color:black;
    cursor:pointer;
}
.container {
    width: 400px;
    background-color: rgb(69, 17, 118);
    box-shadow: 1px 1px 5px black;    
}
.password-header{
    padding:1rem;
}
.pw{
    width: 100%;
    height: 70px;
    background-color: rebeccapurple;
    display:flex;
    align-items: center;
    padding: 1rem;
    position:relative;
    font-size: 1.2rem; 
    overflow-x:auto; 
    overflow-y: hidden;  
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.pw button {
    padding:6px 8px;
    position: absolute;
    top: 50%;
    right:20px;
    transform: translateY(-50%);
    font-family: Audiowide;
    cursor:pointer;
    outline:none;
    border:none;
    background:#04AA06;
    opacity:0.1;
    color:white;
    transition: all .4s ease;
}
.pw button:hover {
    box-shadow: 1px 1px 5px black;
    opacity:1;
}
.pw button:active {
    animation:copy 0.6s ease;
}
@keyframes copy {
    0%{top:49%;right:18px;}
    50%{top:50%;right:21px;}
    75%{top:52%;right:25px;}
}
.pw-body{
    padding: 0 1rem 1rem;
}
.form-control{
    display:flex;
    justify-content:space-between;
    margin:0.75rem 0;
}
.generate-btn {
    width:100%;
    display: block;
    outline:none;
    border:none;
    padding: 10px 0;
    font-size:17px;
    font-weight:500px;
    background-color: rebeccapurple;
    color:white;
    cursor:pointer;
}
.generate-btn:hover {
    box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}
