*{
    box-sizing:border-box;
}
.box{
    width:400px;
    height:200px;
    padding: 50px;
    
    overflow:hidden;
    background-color: #043;
    position:relative;
    transform:translate(10%,10%)
    
    
}
input[type="text"]{
    padding:7px;
    position:absolute;
    top:40px;
    left:19%;
    outline:0;
    font:small-caps bold 18px georgia,serif;
    
    
}
table th button {
    cursor:pointer;
    background: #04AA6D;
    border:none;
    padding:5px;
    margin:50px 45px 0 0;
    color:white;
    font:small-caps bold 16px serif;
    transition: all 0.3s ease;
}
table th button:not(.copy) {
    margin-left:60px;
}
table th button:hover{
    background:#043;
    
    
}
.para{
    font: oblique bold 18px serif;
    margin-left: 60px;
    color:white;
    transition: all 1s ease;

}
