*{
    box-sizing:border-box;
    font:17px georgia;
}
body{
    margin:0;
}
img {
    vertical-align: middle;
}
.containerImage {
  position: relative;
}
.imgContent{
    display:none;
    margin:0 auto;
    text-align: center;
    transition:all .6s ease;
    /* animation:zoom .8s ease; */
}
.imgContent img {
    width:100%;
    height: 300px;
}
.serialNumber {
    position:absolute;
    top:1%;
    left:1%;
    color:aqua;
}
.caption {
    display:none;
    width:100%;
    text-align: center;
    padding:19px;
    background: black;
    color:white;
}
.prev, .next {
    float:left;
    position:absolute;
    top:37%;
    color:white;
    font-size:40px;
    cursor: pointer;
    padding:5px 15px;
    user-select: none;
    border-radius: 15px 3px 3px 15px;
    /* transform:translate(-10%,-50%) */
}
.next {
    right:0;
    border-radius: 3px 15px 15px 3px;
}
.prev:hover, .next:hover {
    background-color: black;
}
.cursor {
    cursor: pointer;
}
.row::after {
    content:" ";
    display:table;
    clear:both;
}

.column {
    float:left;
    width:20%;
}
.dot{
    width:100%;
    height: 5rem;
    opacity:.7;
    transition:all .6s ease;
}
.active, .dot:hover {
    opacity:1;
}
@media screen and (min-width:600px){
    .dot {
        height:9rem;
    }
    .imgContent img {
        height: 90%;
    }
}